node_modules/
dist/
dist-*
.angular/
.idea/
.vscode/
npm-debug.log*
yarn-error.log*
/*.local
src/assets/illustrations/*.orig
src/assets/illustrations/pringa-300.png
src/assets/illustrations/pringa-300.webp
src/assets/illustrations/pringa.webp
src/assets/illustrations/pringa.jpg
src/assets/illustrations/ramavarman-300.png
src/assets/illustrations/ramavarman-300.webp
src/assets/illustrations/ramavarman.webp
src/assets/illustrations/ramavarman.jpg
